.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "SF Pro Icons";
  min-width: 28px;
  text-decoration: none;
  border: 0;
  outline: 0;

  &:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
  &:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
    box-shadow: none;
  }

  &:disabled {
    cursor: default;
    opacity: 0.32;
  }

  &__pill {
    border-radius: 980px;
  }

  &__block {
    border-radius: 8px;
    padding-left: 60px;
    padding-right: 60px;
  }

  &__primary {
    background:  #006EDB;
    color: #fff;

    &:hover {
      background: #0077ED;
    }

    &:active {
      background: #006EDB;
    }

    &-disabled {
      background: #0071e3;
      color: white;
      opacity: 0.32;
    }
  }

  &__secondary {
    background: #e8e8ed;
    color: black;

    &:hover {
      background: #EBEBF0;
    }

    &:active {
      background: #E6E6EB;
    }

    &-disabled {
      opacity: 0.56;
    }
  }

  &__tertiary {
    background: #fff ;
    color: #1d1d1f;
    border: 2px solid #1d1d1f;

    &-disabled {
      opacity: 0.32;
    }
  }

  &__neutral {
    background: #1d1d1f;
    color: white;

    &:hover {
      background: #272729;
    }

    &:active {
      background: #18181A;
    }
  }

  &__danger {
    border: 2px solid red;
    background: #fff;
    color: black;
  }

  &__base {
    font-size: 17px;
    padding: 8px 16px;
  }

  &__elevated {
    font-size: 22px;
    padding: 12px 64px;
  }

  &__reduced {
    font-size: 12px;
    min-width: 23px;
    padding: 4px 20px;
  }
}

