.typography {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "SF Pro Icons";
  
    &__1 {
      font-size: 14px;
    }
  
    &__2 {
      font-size: 16px;
    }
  
    &__3 {
      font-size: 18px;
    }
  
    &__4 {
      font-size: 20px;
    }
  
    &__5 {
      font-size: 22px;
    }
  
    &__6 {
      font-size: 24px;
    }
  
    &__7 {
      font-size: 26px;
    }
  
    &__8 {
      font-size: 28px;
    }
  
    &__9 {
      font-size: 30px;
    }
  
    &__10 {
      font-size: 32px;
    }
  
    &__inline {
      display: inline-block;
    }
  }

