.alert {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "SF Pro Icons";
    border: 1px solid;
    padding: 16px 24px 16px;
    border-radius: 16px;
    width: 100%;
    position: relative;
    display: flex;
    box-sizing: border-box;

    h3 {
        font-size: 22px;
        font-weight: bold;
        margin: 0 0 8px 0;

        &:first-letter {
            text-transform: capitalize;
        }
    }

    p {
        font-size: 18px;
        margin: 0 0 8px 0;

        &:first-letter {
            text-transform: capitalize;
        }
    }

    &__left-addons {
        margin-right: 16px;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 16px;
    }

    &__default {
        border-color: #d2d2d7;
        background-color: rgba(0, 0, 0, 0.02);
    }

    &__error {
        border-color: rgba(227, 0, 0, 0.4);
        background-color: #fff2f4;
    }

    &__success {
        border-color: #155724;
        background-color: #d4edda;
    }

    &__warning {
        border-color: #856404;
        background-color: #fff3cd;
    }

    &__info {
        border-color: #0c5460;
        background-color: #d1ecf1;
    }
}
