.button-group {
    display: flex;
    margin-left: 100px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "SF Pro Icons";

    &__pill {
        button:first-child {
            border-radius: 980px 0 0 980px;
        }

        button:last-child {
            border-radius: 0 980px 980px 0;
        }
    }

    &__block {
        button:first-child {
            border-radius: 8px 0 0 8px;
        }

        button:last-child {
            border-radius: 0 8px 8px 0;
        }
    }
}

.button {
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid grey;
    outline: 0;

    &__pill {
        &-base {
            font-size: 16px;
            padding: 8px 10px;
        }

        &-elevated {
            font-size: 20px;
            padding: 12px 14px;
        }

        &-reduced {
            font-size: 12px;
            padding: 4px 6px;
        }
    }

    &__block {
        &-base {
            font-size: 16px;
            padding: 8px 16px;
        }

        &-elevated {
            font-size: 20px;
            padding: 12px 20px;
        }

        &-reduced {
            font-size: 12px;
            padding: 4px 12px;
        }
    }

    &__active {
        background: #006EDB;
        color: #fff;
    }
}
