.dropdown-button {
    width: 100%;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "SF Pro Icons";

    &__header {
        background: #006EDB;
        color: #fff;
        margin-bottom: 2px;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            display: flex;
        }

        svg > path {
            fill: white;
        }
    }

    &__arrow-up {
        transform: rotate(180deg);
    }

    ul {
        position: absolute;
        z-index: 100;
        width: inherit;
        padding: 0;
        margin: 0;
        background: #fff;
        border: 2px solid #e8e8ed;
        box-sizing: border-box;
        color: black;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
        border-radius: 8px;

        li {
            list-style: none;
            padding: 8px 16px;
            cursor: pointer;

            &:hover {
                background-color: #e8e8ed;
            }
        }
    }
}